<div class="jumbotron">
  <div class="container">
    <form id="fps" method="get" action="/fps">
      <label for="act">Acts: </label>
      <select name="act" id="acts">
        <option value="" disabled selected>Choose Act</option>
        <% @acts.each_with_index do |act, index| %>
          <option value="<%= index + 1 %>"><%= act %></option>
        <% end %>
        <option value="all">All Acts</option>
      </select>
      <br>
      <label for="world">Worlds: </label>
      <select name="world" id="worlds" disabled>
        <option value="" disabled selected>Choose World</option>
      </select>
      <br>
      <input type="submit" value="Query FPS" disabled>
    </form>
  </div>
</div>

<div class="container">
  <div class="row">
    <div id="results_container">
      <h2>FPS Query Results</h2>
      <ul id="results_list">
      </ul>
    </div>
  </div>
</div>
