<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/css/normalize.min.css">
    <link rel="stylesheet" href="/css/application.css">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/application.js"></script>

    <title>FPS Analyzer</title>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
